# Python List

### 1. Create your own lists otherwise use the List1 = ['a','b','c']  to operate the below Python list  Operations?

### 1. List Operations
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [20]:
l=['a','b','c']
a=l*2
a

['a', 'b', 'c', 'a', 'b', 'c']

#### 1.B. Concatenation (+):

In [19]:
l=['a','b','c']
m=['d','e','f']
a=l+m
a

['a', 'b', 'c', 'd', 'e', 'f']

#### 1.C. Membership:

In [5]:
l=['a','b','c']
'c' in l

True

#### 1.D. Length:

In [17]:
l=['a','b','c']
len(l)

3

#### 1.E. Iteration:

In [16]:
l=['a','b','c']
d='\n'.join(l)
print(d)

a
b
c

### 2.1. Create your own lists to operate the below Python List Built-in functions?
##### otherwise use the
            List1 = [1, 2, 4, 5, 54]
            List2 = [23,54,789,9876,876,532,56]
            List3 = [1, 2,76543,289,87654,33,456789876,5432,45678]

    A.	max(list)	   
    B.	min(list)	   
    C.	list(seq)

#### 2.C. max(list):

In [15]:
L = [1, 2, 4, 5, 54]
c=max(L)
c

54

#### 2.D. min():

In [14]:
L = [1, 2, 4, 5, 54]
c=min(L)
c

1

#### 2.E.list:

In [2]:
L = [1, 9, 4, 5, 54]
b=sorted(L)
b

[1, 4, 5, 9, 54]

### 3. Create your own lists to operate the below  thePython List built-in methods?
##### otherwise use below list:
           List = ['white','red', 'blue', 'green','blue','yellow', 'black']

    A.	list.append()
    B.	list.clear()	 
    C.	List.copy()	           
    D.	list.count()	       
    E.	list.extend()	  
    F.	list.index()
    G.	list.insert()	
    H.	list.pop()	
    I.	list.remove()	  
    J.	list.reverse()	        
    K.	list.sort()

#### 3.A) append:

In [12]:
L= ['white','red', 'blue', 'green','blue','yellow', 'black']
L.append('akash')
print(L)

['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 'akash']

#### 3.B) list.clear():

In [11]:
L= ['white','red', 'blue', 'green','blue','yellow', 'black']
L.clear()
L

[]

#### 3.C) List.copy()

In [10]:
L= ['white','red', 'blue', 'green','blue','yellow', 'black']
L.copy()
L

['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black']

#### 3. D) list.count(obj):

In [9]:
L= ['white','red', 'blue', 'green','blue','yellow', 'black']
L.count('green')

1

#### 3.E) list.extend(seq):

In [8]:
L= ['white','red', 'blue', 'green','blue','yellow', 'black']
a=['akash','chaple']
L.extend(a)
L

['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 'akash', 'chaple']

#### 3.F) list.index(obj):

In [7]:
L= ['white','red', 'blue', 'green','blue','yellow', 'black']
L.index('green')

3

#### 3.G) list.insert(index, obj):

In [6]:
L= ['white','red', 'blue', 'green','blue','yellow', 'black']
L.insert(2,'akash')
L

['white', 'red', 'akash', 'blue', 'green', 'blue', 'yellow', 'black']

#### 3.H) list.pop(obj=list[-1]):

In [5]:
L= ['white','red', 'blue', 'green','blue','yellow', 'black']
L.pop(2)
L

['white', 'red', 'green', 'blue', 'yellow', 'black']

#### 3.I) list.remove(obj):

In [4]:
L= ['white','red', 'blue', 'green','blue','yellow', 'black']
L.remove('red')
L

['white', 'blue', 'green', 'blue', 'yellow', 'black']

#### 3.j) list.reverse():

In [3]:
L= ['white','red', 'blue', 'green','blue','yellow', 'black']
L.reverse()
L

['black', 'yellow', 'blue', 'green', 'blue', 'red', 'white']

#### 3.K) list.sort([func]):

In [4]:
L= [5,45,96,125,2]
L.sort()
L

[2, 5, 45, 96, 125]

# Python Tuple

### Create your own Tuple to operate the below Python tuple Operations ?
##### otherwise use the
                Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
                Tuple2 = (1,4,1,3,4,5,65)

### 1. Tuple Operations
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [23]:
a = (1,4,1,3,4,5,65)
c=a*2
c

(1, 4, 1, 3, 4, 5, 65, 1, 4, 1, 3, 4, 5, 65)

#### 1.B. Concatenation (+):

In [26]:
b = (45,90)
a= (1,4,1,3,4,5,65)
c=(a+b)
c

(1, 4, 1, 3, 4, 5, 65, 45, 90)

#### 1.C) Membership:

In [28]:
a= (1,4,1,3,4,5,65)
4 in a

True

#### 1.D) Length:

In [29]:
a= (1,4,1,3,4,5,65)
len(a)

7

#### 1.E) Iteration:

In [30]:
a= (1,4,1,3,4,5,65)
for i in a:
    print(i)

1
4
1
3
4
5
65

### 2.Create your own Tuple to operate the below Python tuple inbuilt functions ?
##### otherwise use the
            Tuple1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)

         A.	max(Tuple)	   
         B.	min(Tuple)	    
         C.	Tuple(seq)

#### 2.A) max():

In [31]:
a= (1,4,1,3,4,5,65)
max(a)

65

#### 2.D) min():

In [32]:
a= (1,4,1,3,4,5,65)
min(a)

1

#### 2.E) Tuple:

In [35]:
a='akash' 
tuple(a)

('a', 'k', 'a', 's', 'h')

# Python Set

In [ ]:
#### Create your own Set to operate the below Python Set Operations ?
#### otherwise use the below set:
        Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
        Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}

### 1. Set Operations
     A. Union 
     B. Intersection
     C. Difference
     D. Symmetric difference

#### 1.A) Union:

In [37]:
s1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
s2= {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}
c=s1|s2
print(c)

{1, 3, 4, 5, 6, 7, 8, 9, 6789, 9876, 678, 45, 436, 54, 56, 57, 8765, 65, 787654, 467, 88, 87654, 7654, 876, 887}

#### 1.B. Intersection

In [39]:
s1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
s2= {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}
c=s1&s2
print(c)

{4, 5, 6, 7, 8, 9, 876}

#### 1.C. Difference

In [40]:
s1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
s2= {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}
c=s1-s2
print(c)

{1, 3, 787654, 87654, 436, 9876, 54, 56}

####  1.D. Symmetric difference:

In [41]:
s1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
s2= {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}
c=s1^s2
print(c)

{65, 1, 3, 787654, 6789, 467, 9876, 88, 7654, 678, 87654, 45, 436, 54, 887, 56, 57, 8765}

# Python Dictionary

#### Create your own Dictionary to operate the below Python Built-in Dictionary functions
#### otherwise use the below Dictionary:
                           Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

    A.	len(dict)     
    B.	str(dict)     
    C.	type(variable)

#### 1.A) len(dict):

In [42]:
d = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
len(d)

3

#### 2.B) str(dict):

In [44]:
d = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
str(d)

"{'a': 'alpha', 'o': 'omega', 'g': 'gamma'}"

#### 1.C) type(variable):

In [45]:
d = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
type(d)

dict

### 2.Create your own Dictionary to operate the below Python Built-in Dictionary methods
#### otherwise use the below Dictionary:

                            dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

    A.	dic.clear()	
    B.	dict.copy()	   
    C.	dict.fromkeys()
    D.  dict.get(key[, value])    	
    E.	dict.items()	
    F.	dict.keys() 	
    G.	dict.setdefault()	
    H.	dict.update()	
    I.	dict.values()

#### 2.A) dic.clear():

In [51]:
d = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
d.clear()
d

{}

#### 2.B) dict.copy():

In [52]:
d = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
d.copy()
d

{'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

#### 2.C) dict.fromkeys():

In [6]:
a=('akash','krushna')
dict.fromkeys(a,'chaple')

{'akash': 'chaple', 'krushna': 'chaple'}

#### 2.D) dict.get(key[, value]) :

In [62]:
d = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
print(d.get('a'))
print(d.get('o'))
print(d.get('g'))

alpha
omega
gamma

#### 2.E) dict.items()

In [65]:
d = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
a=d.items()
a

dict_items([('a', 'alpha'), ('o', 'omega'), ('g', 'gamma')])

#### 2.F) dict.keys() :

In [66]:
d = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
a=d.keys()
a

dict_keys(['a', 'o', 'g'])

#### 2.G) dict.setdefault():

In [70]:
d = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
a=d.setdefault('m','mega')
d

{'a': 'alpha', 'o': 'omega', 'g': 'gamma', 'm': 'mega'}

#### 2.H) dict.update():

In [71]:
d = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
b={'a':25,'g':60}
d.update(b)
d

{'a': 25, 'o': 'omega', 'g': 60}

 #### 2.L)  dict.values():

In [68]:
d = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
a=d.values()
a

dict_values(['alpha', 'omega', 'gamma'])

# Conditional Statements

    1. IF 
    2. IF-ELSE
    3. If...Elif...Else

#### 1. Store a number in a variable and check if that variable is equal to 10, If yes, print "Hello"

In [74]:
a=int(input("enter number"))
if(a==10):
    print('Hello')

enter number10
Hello

#### 2. Store a number in a variable and check if that variable is equal to 10, If yes, print "Hello", else print "Good Bye"

In [75]:
n=int(input('enter naumber'))
if(n==10):
    print("Hello")
else:
    print("good Bye")

enter naumber20
good Bye

# While Loop

#### 1. Print Hello World 5 times

In [76]:
a=1
while(a<=5):
    print("hello")
    a+=1

hello
hello
hello
hello
hello

# For Loop

#### 1. Take a list [23,1,0,12,45,-1,46], loop through each element and print it

In [77]:
a= [23,1,0,12,45,-1,46]
for i in a:
    print(i)

23
1
0
12
45
-1
46

#### 2. Take a list [1,2,3,4,5,6,7,8], loop through each element and print it. But, use break to come out of the loop after printing the second element

In [114]:
a=[1,2,3,4,5,6,7,8]
for i in range(len(a)):
    if(i<2):
        print(a[i])
    else: 
        break

1
2